body {
    background: rgb(64,77,246);
    background: linear-gradient(90deg, rgba(64,77,246,1) 0%, rgba(216,148,233,1) 100%);  
}

.title h1, .empty {
    color: #fff;
    text-shadow: 2px 2px 2px #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.border-red {
    border-left: 5px solid red;
    border-right: 5px solid red;
}

.border-green {
    border-left: 5px solid green;
    border-right: 5px solid green;
    text-decoration: line-through;
}